@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

p{
    font-family: 'Maven Pro', sans-serif;
    color: #121212;
    background-color: rgb(236, 235, 235);
}

.auth_title{
    font-family: 'Knewave', cursive;
    color: #121212;
    text-align: center;
    margin-top: 5px;
}

.auth_errs{
    color: red;
    text-align: center;
    margin-bottom: 20px;
}