.home_title{
    color: white;
    font-family: 'Knewave', cursive;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0;
    display: inline;
}

.home_topbar{
    background-color: #121212;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgb(30, 30, 30);
}

.home_topbar_icons{
    background-color: #121212;
    float: right;
    margin: 10px;
}
.home_title_div{
    display: inline-block;
    margin: 10px;
}

.fa-bell{
    margin-top: 13px;
    margin-right: 20px;
}

.content_div{
    display: grid;
    justify-content: center;
}

.reaction_icons_div{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.reaction_icons_div > i.fas{
    color: #ffd93b;
    animation: fadeInUp;
    animation-duration: 500ms;
}

.reaction_icons_div > i.fas.fa-angry{
    color: red;
}

.reaction_icons_div > i.fas.fa-sad-tear{
    color: rgb(71, 102, 238);
}

.reaction_icons_div > i.fas.fa-meh{
    color: grey;
}

.actions_icons_div{
    background-color: #121212;
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 7px;
    box-shadow: .2px .2px 5px wheat;
}

.actions_icons_div > i{
    margin-top: 5px;
    margin-bottom: 5px;
    color: grey;
}

.actions_icons_div > a{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #121212;
}

.actions_icons_div > a > i{
    color: grey;
}

.actions_icons_div > i.fa-times-circle{
    color: rgb(141, 0, 0);
}

.uploader_details{
    margin-left: 5px;
    margin-bottom: 40px;
}

.uploader_username{
    float: left;
    margin-top: 10px;
    font-family: 'Maven Pro', sans-serif;
    margin-left: 7px;
    font-size: 15px;
}

.uploader_profile{
    border: 1px solid grey;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    margin-top: 2px;
    margin-bottom: 5px;
    float: left;
}

.comment_input_div{
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment_input{
    font-family: 'Maven Pro', sans-serif;
    color: #121212;
    border: 1px solid #121212;
    background-color: transparent;
    height: 5px;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50px;
}

.comment_send{
    background-color: transparent;
    border: 1px solid #121212;
    border-radius: 50px;
}

.loading_animation{
    position: absolute;
    background-color: transparent;
    display: grid;
    place-content: center;
    align-items: center;
    width: 100%;
    top: 50%;
}