.image_div{
    animation: fadeIn;
    animation-duration: 800ms;
    padding-top: 60px;
}

.image{
    border-top: 1px solid rgb(48, 48, 48);
    border-bottom: 1px solid rgb(48, 48, 48);
    width: 400px;
    max-height: 500px;
}

.stats__div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom : 10px;
}

.stats_counter{
    margin-left: 6px;
}

.stats_delete_post{
    margin-top: 50px;
}