.profile_edit_img{
    width: 150px;
    height: 150px;
    border-radius: 6px;
}

.profile_choose_img{
    color: #121212;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
}

.profile_label_div{
    background-color: rgb(236, 235, 235);
    width: 200px;
    border-radius: 50px;
    box-shadow: .5px .5px 7px grey;
    margin-bottom: 20px;
}

.profile_edit_username_div, .profile_edit_email_div, .profile_edit_bio_div{
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px dashed grey;
    width: fit-content;
    border-radius: 6px;
    margin-left: 5px;
}

.profile_edit_username, .profile_edit_email, .profile_edit_bio{
    background-color: transparent;
}

.profile_edit_btn{
    background-color: rgb(255, 166, 0);
    width: fit-content;
}

.profile_edit_btn_txt{
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    margin: 5px;
    background-color: transparent;
    color: rgb(236, 235, 235);
}