.signup{
    display: grid;
    place-content: center;
}

.signup_div{
    margin-top: 100px;
}

.signup_btn{
    background-color: rgb(255, 166, 0);
    color: #121212;
}

.signup_btn_div{
    display: grid;
    place-items: center;
}

.username_input_div{
    box-shadow: .2px .2px 5px grey;
    border-radius: 6px;
    margin-bottom: 20px;
}

.email_input_div{
    box-shadow: .2px .2px 5px grey;
    border-radius: 6px;
    margin-bottom: 20px;
}

.password_input_div{
    box-shadow: .2px .2px 5px grey;
    border-radius: 6px;
    margin-bottom: 20px;
}

.username_input{
    background-color: rgba(245, 245, 220, 0);
    margin: 0;
}

.email_input{
    background-color: rgba(245, 245, 220, 0);
    margin: 0;
}

.password_input{
    background-color: rgba(245, 245, 220, 0);
    margin: 0;
}

.password_eye{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

/*login div*/
.login{
    display: grid;
    place-content: center;
}

.login_div{
    margin-top: 100px;
}

.login_btn{
    background-color: rgb(255, 166, 0);
    color: #121212;
}

.login_btn_div{
    display: grid;
    place-items: center;
}

.signup_req{
    text-align: center;
}