<script src="../static/scripts/bottomNav.js"></script>
<div class="bottom_nav">
    <div class="bottom_nav_icons">
        <a class="spf-link" href="/"><i id="home" class="ico fal fa-home-alt"></i></a>
        <a class="spf-link" href="/search"><i id="search" class="ico fal fa-search"></i></a>
        <a class="spf-link" href="/create"><i id="create" class="ico fal fa-plus-circle"></i></a>
        <a class="spf-link" href="/convo"><i id="convo" class="ico fal fa-quote-right"></i></a>
        <a class="spf-link" href="/profile"><i id="profile" class="ico fal fa-user"></i></a>
    </div>
</div>