<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meemz | Convo</title>

    <link rel="icon" href="../static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="../static/icons/favicon.ico">
    <link rel="manifest" href="../static/manifest.json">

    <link rel="stylesheet" href="../static/stylesheets/App.css">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link rel="stylesheet" href="../static/stylesheets/BottomNav.css">
    <link rel="stylesheet" href="../static/stylesheets/Convo.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoCreate.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoPage.css">
    <link rel="stylesheet" href="../static/stylesheets/Create.css">
    <link rel="stylesheet" href="../static/stylesheets/dark.css">
    <link rel="stylesheet" href="../static/stylesheets/Home.css">
    <link rel="stylesheet" href="../static/stylesheets/ImageStats.css">
    <link rel="stylesheet" href="../static/stylesheets/PrivatePosts.css">
    <link rel="stylesheet" href="../static/stylesheets/Profile.css">
    <link rel="stylesheet" href="../static/stylesheets/ProfileEdit.css">
    <link rel="stylesheet" href="../static/stylesheets/Search.css">
    <link rel="stylesheet" href="../static/stylesheets/Signup.css">
    <link rel="stylesheet" href="../static/stylesheets/Verify.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>
    <script src="../static/sw.js" defer></script>
    <script src="../static/sw_init.js" defer></script>
</head>

<script>
    axios.post("/fetch_user").then(res =>{
        if (res.data === null) {
            window.location.replace("/login");
        }
    });
</script>

<body>
    <div class="convo_start">
        <div class="home_title_div">
            <h2 class="home_title">Meemz</h2>
            <small class="conversations">conversations</small>
        </div>
        <center>
            <div class="convo_profile_div">
                <label for="image">
                    <div class="image_select" style="width : fit-content ; margin-top : 30px;">
                        <strong class="image_select_text">Choose a conversation banner</strong>
                    </div>
                </label>
                <input type="file" class="convo_image input_image_select" id="image" accept="image/*" style="display : none;"
                    onchange="DisplayBanner()" />
                <div class="image_convo_container" id="image_cont" style="margin : 10px;"></div>
            </div>
        </center>
        <p id="err" class="auth_errs"></p>

        <div class="convo_topic_div">
            <input type="text" class="convo_topic" id="convo_topic" placeholder="Enter room topic... eg. sports" />
        </div>

        <div class="convo_title_div">
            <input type="text" class="convo_title" id="convo_title" placeholder="Enter room name..." />
        </div>

        <div class="convo_number_div">
            <input class="convo_number" id="convo_maxnum" type="number" placeholder="Max. members...Default(100)" />
        </div>

        <center>
            <div class="convo_proceed" onclick="CreateConvo()">
                <strong class="convo_proceed_icon">Proceed</strong>
            </div>
        </center>

        <p
            style="font-family: 'Comfortaa', cursive; font-size : 12px ; color : grey ; display : grid ; place-content : center ; margin : 10px ; margin-bottom : 50px;">
            *All chat rooms are public</p>
    </div>
</body>
<script src="../static/scripts/convoCreate.js"></script>

</html>