<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#202b38">
    <meta name="description" content="Join us in making a world full of smiles">
    
    <script type="module" src="/static/scripts/dependencies/theme.js"></script>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png">

    <link rel="stylesheet" id="color-scheme" href="">
    <link rel="stylesheet" href="/static/stylesheets/create.css">

    <script src="/sw.js"></script>
    <script src="/sw_init.js"></script>

    <script src="/static/scripts/dependencies/qs.min.js" defer></script>
    <script src="/static/scripts/dependencies/axios.min.js" defer></script>

    <script type="module" src="/static/scripts/components/bottom_nav.js" defer></script>
    <script type="module" src="/static/scripts/create.js" defer></script>

    <title>Create</title>
</head>

<body>
    <div class="meemz_main_title_div">
        <div class="meemz_main_title">
            <h1 class="meemz_title" onclick="javascript: window.location.assign('/')">comical</h1>
        </div>
    </div>

    <input type="file" id="meemz_select_file" class="meemz_select_file" accept="image/*, video/*" multiple>
    <div class="meemz_select_div">
        <div class="meemz_select_label">
            <div class="meemz_select_label_text">
                <label for="meemz_select_file" class="meemz_select_text">
                    Open gallery
                </label>
            </div>
        </div>
    </div>

    <div class="meemz_files_selected_div">
        <div class="meemz_files_selected" id="meemz_files_selected"></div>
    </div>

    <div class="meemz_selected_num" id="meemz_selected_num"></div>

    <input type="text" name="" id="meemz_upload_caption" placeholder="Caption">

    <div class="meemz_tags_list" id="meemz_tags_list"></div>
    <input type="text" name="" id="meemz_upload_tags" placeholder="#tag1 #tag2 #.....">
    <p>
        Add a link or username to credit a creator
        <input type="text" id="meemz_upload_credits" placeholder="Credit a creator">
    </p>

    <div class="meemz_upload_type">
        <div id="meemz_upload_single_div" class="meemz_upload_single_div">
            <div class="meemz_upload_single">
                <i class="fi fi-rr-picture"></i>
                <th>upload single</th>
            </div>
        </div>

        <div id="meemz_upload_multiple_div" class="meemz_upload_multiple_div">
            <div class="meemz_upload_multiple">
                <i class="fi fi-rr-gallery"></i>
                <th>upload multiple</th>
            </div>
        </div>
    </div>

    <div id="meemz_upload_btn" class="meemz_upload_btn">
        <button>Upload</button>
    </div>

</body>

</html>
