<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meemz | Account Recovery</title>

    <link rel="icon" href="../static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="../static/icons/favicon.ico">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="../static/stylesheets/App.css">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link rel="stylesheet" href="../static/stylesheets/BottomNav.css">
    <link rel="stylesheet" href="../static/stylesheets/Convo.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoCreate.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoPage.css">
    <link rel="stylesheet" href="../static/stylesheets/Create.css">
    <link rel="stylesheet" href="../static/stylesheets/dark.css">
    <link rel="stylesheet" href="../static/stylesheets/Home.css">
    <link rel="stylesheet" href="../static/stylesheets/ImageStats.css">
    <link rel="stylesheet" href="../static/stylesheets/PrivatePosts.css">
    <link rel="stylesheet" href="../static/stylesheets/Profile.css">
    <link rel="stylesheet" href="../static/stylesheets/ProfileEdit.css">
    <link rel="stylesheet" href="../static/stylesheets/Search.css">
    <link rel="stylesheet" href="../static/stylesheets/Signup.css">
    <link rel="stylesheet" href="../static/stylesheets/Verify.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <script src="/sw.js" defer></script>
    <script src="/sw_init.js" defer></script>
</head>

<body>
    <div class="forgot">
        <div class="home_title_div">
            <h2 class="home_title">Meemz</h2>
        </div>
        <h3 style="display : grid ; place-content : center ; width : 100%; color: #121212;">Password reset</h3>

        <div id="username_div" style="display : grid ; width : 100% ; place-content : center ; margin-top : 100px;"
            class="enter_username">
            <p id="user_err" style="color : red;"></p>
            <p style="margin-bottom : 10px;">Enter your username</p>
            <div style="width : fit-content;" class="username_input_div">
                <input id="username" type="text" placeholder="Username" class="username_input" />
            </div>
        </div>

        <div id="verify_div" style="display : none ; width : 100% ; place-content : center ; margin-top : 100px;"
            class="enter_verification_code">
            <p id="verify_err" style="color : red;"></p>
            <p id="verify_msg" style="margin-bottom : 10px;"></p>
            <div style="width : fit-content;" class="username_input_div">
                <input id="v_code" type="text" placeholder="Enter the code here" class="username_input" />
            </div>
        </div>

        <div id="newpass_div" style="display : none ; width : 100% ; place-content : center ; margin-top : 100px;"
            class="enter_new_password">
            <p id="pass_err" style="color : red;"></p>
            <p style="margin-bottom : 10px;">Enter your new password</p>
            <div style="width : fit-content;" class="username_input_div">
                <input id="password" type="text" placeholder="Username" class="username_input" />
            </div>
        </div>

        <div style="width : 100% ; display : grid ; place-content : center;" class="pass_proceed">
            <button id="next_btn" style="background-color : rgb(255, 166, 0) ; color : black;" onclick="CurrentState()" >Next</button>
        </div>
    </div>
</body>
<script src="../static/scripts/forgotPassword.js"></script>
</html>