<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meemz | Stats</title>

    <link rel="icon" href="../static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="../static/icons/favicon.ico">
    <link rel="manifest" href="../static/manifest.json">

    <link rel="stylesheet" href="../static/stylesheets/App.css">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link rel="stylesheet" href="../static/stylesheets/BottomNav.css">
    <link rel="stylesheet" href="../static/stylesheets/Convo.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoCreate.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoPage.css">
    <link rel="stylesheet" href="../static/stylesheets/Create.css">
    <link rel="stylesheet" href="../static/stylesheets/dark.css">
    <link rel="stylesheet" href="../static/stylesheets/Home.css">
    <link rel="stylesheet" href="../static/stylesheets/ImageStats.css">
    <link rel="stylesheet" href="../static/stylesheets/PrivatePosts.css">
    <link rel="stylesheet" href="../static/stylesheets/Profile.css">
    <link rel="stylesheet" href="../static/stylesheets/ProfileEdit.css">
    <link rel="stylesheet" href="../static/stylesheets/Search.css">
    <link rel="stylesheet" href="../static/stylesheets/Signup.css">
    <link rel="stylesheet" href="../static/stylesheets/Verify.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>
    <script src="../static/sw.js" defer></script>
    <script src="../static/sw_init.js" defer></script>
</head>

<script>
    axios.post("/fetch_user").then(res =>{
        if (res.data === null) {
            window.location.replace("/login");
        }
    });
</script>

<body>
    <div class="image_stats">
        <div class="home_topbar">
            <div class="home_title_div" style="width : 100% ; animation : none;">
                <h2 class="home_title">Meemz</h2>
                <small class="conversations">stats</small>
                <i style="float : right; margin-top : 10px;  padding-right : 30px" class="far fa-trash-alt"  onclick="Delete()"></i>
            </div>
        </div>
        <center>
        <div class="image_div">
                <img class="image" alt="image_stats" />
        </div>
        <div class="reaction_icons_div">
            <i id="far_grin"></i>
            <i id="far_squint"></i>
            <i id="far_meh"></i>
            <i id="far_tear"></i>
            <i id="far_angry"></i>
        </div>
        <div class="reaction_icons_div" style="padding-top : 5px;">
            <p class="stats_counter1"></p>
            <p class="stats_counter2"></p>
            <p class="stats_counter3"></p>
            <p class="stats_counter4"></p>
            <p class="stats_counter5"></p>
        </div>
        </center>
        <div class="stats__div">
            <div class="stats_comments">
                <i class="far fa-comment" style="margin-right : 5px"></i>
                <strong style="margin-right : 10px">:</strong>
                <strong id="stats_comments"></strong>
            </div>
            <div class="stats_views">
                <i class="far fa-eye" style="margin-right : 5px"></i>
                <strong style="margin-right : 10px">:</strong>
                <strong id="stats_views"></strong>
            </div>
        </div>
    </div>
</body>
<script src="../static/scripts/imageStats.js"></script>
</html>