<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meemz | Login</title>

    <link rel="icon" href="../static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="../static/icons/favicon.ico">
    <link rel="manifest" href="../static/manifest.json">

    <link rel="stylesheet" href="../static/stylesheets/App.css">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link rel="stylesheet" href="../static/stylesheets/BottomNav.css">
    <link rel="stylesheet" href="../static/stylesheets/Convo.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoCreate.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoPage.css">
    <link rel="stylesheet" href="../static/stylesheets/Create.css">
    <link rel="stylesheet" href="../static/stylesheets/dark.css">
    <link rel="stylesheet" href="../static/stylesheets/Home.css">
    <link rel="stylesheet" href="../static/stylesheets/ImageStats.css">
    <link rel="stylesheet" href="../static/stylesheets/PrivatePosts.css">
    <link rel="stylesheet" href="../static/stylesheets/Profile.css">
    <link rel="stylesheet" href="../static/stylesheets/ProfileEdit.css">
    <link rel="stylesheet" href="../static/stylesheets/Search.css">
    <link rel="stylesheet" href="../static/stylesheets/Signup.css">
    <link rel="stylesheet" href="../static/stylesheets/Verify.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>
    <script src="../static/sw.js" defer></script>
    <script src="../static/sw_init.js" defer></script>
</head>

<body>
    <div class="login">
        <h2 class="auth_title">Meemz</h2>
        <a href="/signup">
            <p class="signup_req">Do not have an account? Sign up</p>
        </a>
        <div class="login_div">
            <p id="auth_errs" class="auth_errs"></p>
            <div class="username_input_div"><input id="login_username" type="text" placeholder="Username"
                    class="username_input" /></div>
            <div class="password_input_div">
                <i id="show_hide" class="password_eye fal fa-eye"></i>
                <input id="login_password" type="password" placeholder="Password" class="password_input" />
            </div>
            <div class="login_btn_div"><button id="login_btn" class="login_btn">Log in</button></div>
            <p><a style="width : 100%; margin-top : 114px; display : grid; place-content : center; font-size: small; color: aqua;" href="/forgot_password">I forgot my password?</a></p>
        </div>
    </div>
</body>
<script src="../static/scripts/login.js"></script>

</html>