<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#202b38">
    <meta name="description" content="Join us in making a world full of smiles">
    
    <script type="module" src="/static/scripts/dependencies/theme.js"></script>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png">

    <link rel="stylesheet" id="color-scheme" href="">

    <script src="/sw.js"></script>
    <script src="/sw_init.js"></script>

    <script src="/static/scripts/dependencies/qs.min.js" defer></script>
    <script src="/static/scripts/dependencies/axios.min.js" defer></script>

    <script type="module" src="/static/scripts/auth.js" defer></script>

    <title>Reset password</title>
</head>

<body>
    <div class="meemz_main_title_div">
        <div class="meemz_main_title">
            <h1 class="meemz_title" onclick="javascript: window.location.assign('/')">comical</h1>
        </div>
    </div>
    
    <center>
        <div class="meemz_auth_header" style="margin-bottom: 24px;">
            <h3 class="login">Enter your new password</h3>
        </div>
    </center>

    <div class="meemz_centered_content">
        <input type="password" placeholder="Password" id="meemz_password" minlength="6">
        <div>
            <input type="checkbox" name="show_password" id="show_password">
            <label for="show_password">Show password</label>
        </div>
    </div>

    <center>
        <button class="meemz_auth" type="submit">Reset</button>
    </center>
</body>

</html>