<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meemz | Privacy</title>

    <link rel="icon" href="../static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="../static/icons/favicon.ico">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="../static/stylesheets/App.css">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link rel="stylesheet" href="../static/stylesheets/BottomNav.css">
    <link rel="stylesheet" href="../static/stylesheets/Convo.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoCreate.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoPage.css">
    <link rel="stylesheet" href="../static/stylesheets/Create.css">
    <link rel="stylesheet" href="../static/stylesheets/dark.css">
    <link rel="stylesheet" href="../static/stylesheets/Home.css">
    <link rel="stylesheet" href="../static/stylesheets/ImageStats.css">
    <link rel="stylesheet" href="../static/stylesheets/PrivatePosts.css">
    <link rel="stylesheet" href="../static/stylesheets/Profile.css">
    <link rel="stylesheet" href="../static/stylesheets/ProfileEdit.css">
    <link rel="stylesheet" href="../static/stylesheets/Search.css">
    <link rel="stylesheet" href="../static/stylesheets/Signup.css">
    <link rel="stylesheet" href="../static/stylesheets/Verify.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <script src="/sw.js" defer></script>
    <script src="/sw_init.js" defer></script>
</head>

<script>
    axios.post("/fetch_user").then(res =>{
        if (res.data === null) {
            window.location.replace("/login");
        }
    });
</script>

<body>
    <div class="private_posts">
        <div class="home_topbar">
            <div class="home_title_div">
                <h2 class="home_title">Meemz</h2>
                <small class="conversations">privacy</small>
            </div>
        </div>
        <div id="private_meemz" class="private_meemz"></div>
    </div>
</body>
<script src="../static/scripts/privatePosts.js"></script>
</html>