<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#202b38">
    <meta name="description" content="Join us in making a world full of smiles">

    <script type="module" src="/static/scripts/dependencies/theme.js"></script>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png">

    <link rel="stylesheet" id="color-scheme" href="">
    <link rel="stylesheet" href="/static/stylesheets/profile.css">
    <link rel="stylesheet" href="/static/stylesheets/animate.min.css">

    <script src="/sw.js"></script>
    <script src="/sw_init.js"></script>

    <script src="/static/scripts/dependencies/qs.min.js" defer></script>
    <script src="/static/scripts/dependencies/axios.min.js" defer></script>
    <script src="/static/scripts/dependencies/hammer.min.js" defer></script>

    <script type="module" src="/static/scripts/components/bottom_nav.js" defer></script>
    <script type="module" src="/static/scripts/profile.js" defer></script>

    <title>Profile</title>
</head>

<body>
    <div class="meemz_main_title_div">
        <div class="meemz_main_title">
            <h1 class="meemz_title" onclick="javascript: window.location.assign('/')">comical</h1>
        </div>
    </div>

    <div class="meemz_profile_div">
        <div class="meemz_profile_pic" id="meemz_profile_pic"></div>
        <div class="meemz_profile_details" id="meemz_profile_details">
            <div class="meemz_profile_username" id="meemz_profile_username"></div>
            <div class="meemz_profile_bio" id="meemz_profile_bio"></div>
        </div>
    </div>

    <div class="meemz_profile_actions">
        <i class="fi fi-rr-folder" id="meemz_folder"></i>
        <i class="fi fi-rr-settings" id="meemz_settings"></i>
    </div>

    <center class="meemz_profile_uploads_div" id="meemz_profile_uploads_div">
        <div class="meemz_profile_uploads" id="meemz_profile_uploads"></div>
    </center>
    
    <div id="meemz_profile_settings_div" class="meemz_profile_settings_div" style="display: none;">
        <div class="meemz_profile_settings">
            <div id="meemz_edit_username_div" class="meemz_settings meemz_edit_username_div">
                <i class="fi fi-rr-id-badge"></i>
                <h4>Username</h4>
                <label id="meemz_display_username"></label>
            </div>
            <div id="meemz_edit_email_div" class="meemz_settings meemz_edit_email_div">
                <i class="fi fi-rr-envelope"></i>
                <h4>Email</h4>
                <label id="meemz_display_email"></label>
            </div>
            <div id="meemz_edit_bio_div" class="meemz_settings meemz_edit_bio_div">
                <i class="fi fi-rr-info"></i>
                <h4>Bio</h4>
                <label id="meemz_display_bio"></label>
            </div>
            <input type="file" id="meemz_dp_select" style="display: none;">
            <label for="meemz_dp_select" style="display: block;">
                <div id="meemz_edit_dp" class="meemz_settings meemz_edit_dp">
                    <i class="fi fi-rr-portrait"></i>
                    <h4>Profile Picture</h4>
                    <label id="meemz_display_dp">Change your profile picture</label>
                </div>
            </label>
            <div id="meemz_theme" class="meemz_settings meemz_theme">
                <i class="fi fi-rr-eclipse-alt"></i>
                <h4>Theme</h4>
                <label id="meemz_display_theme"></label>
            </div>
            <div id="meemz_advertising" class="meemz_settings meemz_advertising">
                <i class="fi fi-rr-wallet"></i>
                <h4>Advertising</h4>
                <label id="meemz_display_advertising">Coming soon</label>
            </div>
            <div id="meemz_logout" class="meemz_settings meemz_logout">
                <i class="fi fi-rr-sign-out-alt" style="margin: 3px 15px 5px 0; color: red;"></i>
                <h4 style="color: red;">Logout</h4>
            </div>
        </div>
    </div>


</body>

</html>