<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meemz | Terms Of Service And Privacy Policy</title>

    <link rel="icon" href="../static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="../static/icons/favicon.ico">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="../static/stylesheets/App.css">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link rel="stylesheet" href="../static/stylesheets/BottomNav.css">
    <link rel="stylesheet" href="../static/stylesheets/Convo.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoCreate.css">
    <link rel="stylesheet" href="../static/stylesheets/ConvoPage.css">
    <link rel="stylesheet" href="../static/stylesheets/Create.css">
    <link rel="stylesheet" href="../static/stylesheets/dark.css">
    <link rel="stylesheet" href="../static/stylesheets/Home.css">
    <link rel="stylesheet" href="../static/stylesheets/ImageStats.css">
    <link rel="stylesheet" href="../static/stylesheets/PrivatePosts.css">
    <link rel="stylesheet" href="../static/stylesheets/Profile.css">
    <link rel="stylesheet" href="../static/stylesheets/ProfileEdit.css">
    <link rel="stylesheet" href="../static/stylesheets/Search.css">
    <link rel="stylesheet" href="../static/stylesheets/Signup.css">
    <link rel="stylesheet" href="../static/stylesheets/Verify.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <script src="/sw.js" defer></script>
    <script src="/sw_init.js" defer></script>
</head>

<body>
    <div class="terms_and_policy">
        <div class="home_topbar">
            <div class="home_title_div">
                <h2 class="home_title">Meemz</h2>
                <small class="conversations">terms of service and privacy policy</small>
            </div>
        </div>
        <div style="margin-left : 5px; padding-top : 70px" class="terms_of_service">
            <h2 style="font-family : 'Comfortaa', cursive; color: cornflowerblue;">Terms of Service</h2>
            <p>This terms of service highlight what is expected from you as a user.</p>
            <br />
            <h4 style="color : rgb(255, 166, 0);">Meemz guidelines</h4>
            <p>Content uploaded on this platform must follow our basic guidelines:</p>
            <li style="color: grey; margin-left: 10px;">Posts depicting violence, physical harm or self harm are
                strictly prohibited.</li>
            <li style="color: grey; margin-left: 10px;">Posts containing pornographic images or any form of nudity are
                also prohibited.</li>
            <li style="color: grey; margin-left: 10px;">Posts uploaded with the intent of bullying, offending or
                mentally hurting someone or a group of people are disregarded.</li>
            <li style="color: grey; margin-left: 10px;">All chat rooms are public. Keep it clean.</li>
            <br />
            <p>Violation of this guidelines may result to deletion of the posts and the user's account will be flagged.
            </p>
        </div>
        <div style="margin-left : 5px; margin-top : 20px" class="privacy_policy">
            <h2 style="font-family : 'Comfortaa', cursive; color : cornflowerblue">Privacy Policy</h2>
            <p>This Privacy Policy informs you of our policies regarding the collection, use, and disclosure of personal
                data when you engage with Meemz.</p>
            <br />
            <p>- We collect and use data provided by our users to publish content that is relevant to our users and to
                improve their experience on Meemz.</p>
            <br />
            <h4 style="color: rgb(255, 166, 0);">Information Collection And Use</h4>
            <p>We collect several different types of information for various purposes to provide and improve our
                services to you.</p>
            <p>We require user registration. A username, email and password are collected on registration. Your email
                address will not be shared with other people or organizations that are not directly linked to us.</p>
            <br />
            <h4 style="color: rgb(255, 166, 0);">Security Of Data</h4>
            <p>The security of your data is important to us, but remember that no method of transmission over the
                internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable
                means to protect your Personal Data, we cannot guarantee its absolute security.</p>
            <br />
            <h4 style="color: rgb(255, 166, 0);">Links To Other Sites</h4>
            <p>Our website may contain links to other sites that are not operated by us. If you click on a third party
                link, you will be directed to that third party's site. We strongly advise you to review the Privacy
                Policy of every site you visit.</p>
            <p>We have no control over and assume no responsibility for the content, privacy policies or practices of
                any third party sites or services.</p>
            <br />
            <h4 style="color: rgb(255, 166, 0);">Children's Privacy</h4>
            <p>We do not knowingly collect personally identifiable information from anyone under the age of 18. If you
                are a parent or guardian and you are aware that your child has provided us with Personal Data, please
                contact us. If we become aware that we have collected Personal Data from children without verification
                of parental consent, we take steps to remove that information from our servers.</p>
            <br />
            <br />
        </div>
        <div class="reaction_icons_div">
            <i class="fal fa-grin-tears"></i>
            <i class="fal fa-grin-tongue-squint"></i>
            <i class="fal fa-meh"></i>
            <i class="fal fa-sad-tear"></i>
            <i class="fal fa-angry"></i>
        </div>
    </div>
</body>

</html>