<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#202b38">
    <meta name="description" content="Verify | meemz">
    
    <script type="module" src="/static/scripts/dependencies/theme.js"></script>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="../static/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="../static/icons/apple-touch-icon.png">

    <link rel="stylesheet" id="color-scheme" href="">
    <link rel="stylesheet" href="/static/stylesheets/auth.css">

    <script src="/sw.js"></script>
    <script src="/sw_init.js"></script>

    <script src="/static/scripts/dependencies/qs.min.js" defer></script>
    <script src="/static/scripts/dependencies/axios.min.js" defer></script>

    <script type="module" src="/static/scripts/auth.js" defer></script>

    <title>Verify</title>
</head>
<body>
    <div class="meemz_main_title_div">
        <div class="meemz_main_title">
            <h1 class="meemz_title">comical</h1>
        </div>
    </div>

    <center>
        <div class="meemz_auth_header" style="margin-bottom: 24px;">
            <h3 class="login">Verify</h3>
        </div>
    </center>

    <div class="meemz_centered_content">
        <input type="text" placeholder="Verification code" id="meemz_verification_code">
    </div>

    <center>
        <button class="meemz_auth" type="submit">Verify</button>
        <br>
        <th>or</th>
        <br>
        <button class="meemz_verify_later" onclick="javascript: window.location.replace('/')">Verify later</button>
    </center>
</body>
</html>